
/* h1 { color: yellow; background: blue; text-align: center; padding: 20px; font-family: 'Permanent Marker', cursive; } */

body { padding: 40px; }


table { border-collapse: collapse; }

.myTableMargin { margin: auto; }

.boxesClass { background: linear-gradient(0.1turn, black, lightblue); ; margin: auto; border: 5px solid black;  }

td { border: 1px solid black; padding: 5px; font-family: 'Quattrocento Sans', sans-serif;}
th { border: 1px solid black; padding: 5px;
  font-family: 'Quattrocento Sans', sans-serif;
  background: linear-gradient(0.1turn, black, lightblue); color: white; }

form { color: yellow; background: linear-gradient(0.1turn, black, lightgreen); padding: 20px; font-family: 'Quattrocento Sans', sans-serif;}

input {padding: 2px}

#uniqueID {background: purple; color: white; padding: 20px; }

#otherID { padding: 10px;  margin-left: 30px; margin-right: 30px; font-style: italic; color: black; background-color: lightyellow;}

#myImagesRight { float: right; }

p {color: white; background-color: darkgreen; padding: 10px; font-family: 'Quattrocento Sans', sans-serif;}

div {color: white; background-color: darkgreen; padding: 5px; }

strong {padding: 1px; }

img { padding: 1px; }
